*{
    box-sizing: border-box;
}
.container-todo{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.conTodo{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.paper-style{
    padding: 30px;
}